## Task 01:

Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [12]:
name = "Fatima"
father_name = "Muhammad Irfan"
dob = "04/07/1999"

In [13]:
print("My name is ", name, '\nMy father\'s name is ', father_name, "\nMy date of birth is", dob)

My name is  Fatima
My father's name is  Muhammad Irfan
My date of birth is 04/07/1999

# Task 02:

Write your small bio using variables and print it using print function

In [14]:
name = "Fatima"
age = 24
hometown = "Karachi, Pakistan"
education = "MSc in Remote Sensing & GIS"
year = 2023
profession = "Remote Sensing and GIS Analyst"
experience = "6 years"
interests = "Data Science, Machine Learning, Artificial Intelligence, Research work, Remote Sensing & GIS"
area_of_expertise = "Research work, Cartography, Forestry, Digitization"
contact_email = "fatimirfan956@gmail.com"

In [15]:
print(f"""Hey! I am {name}, a {age} years old individual living in {hometown}. I did my {education} in {year}.
I am a {profession} by profession having {experience} of experience in the relevant field.
I have expertise {area_of_expertise}.
My interests include {interests}.
Feel free to contact me at {contact_email}""")

Hey! I am Fatima, a 24 years old individual living in Karachi, Pakistan. I did my MSc in Remote Sensing & GIS in 2023.
I am a Remote Sensing and GIS Analyst by profession having 6 years of experience in the relevant field.
I have expertise Research work, Cartography, Forestry, Digitization.
My interests include Data Science, Machine Learning, Artificial Intelligence, Research work, Remote Sensing & GIS.
Feel free to contact me at fatimirfan956@gmail.com

# Task 03:

Write a program in which use all the operators we can use in Python

In [16]:
a = 4
b = 8

#Arithmetic Operators
addition = a + b
subtraction = a - b
multiplication = a* b
division = a / b
floor_division = a // b
remainder = a % b
exponentiation = a ** b

#Comparison Operators
greater_than = a > b
less_than = a < b
equal_to = a == b
not_equal_to = a != b
greater_than_or_equal_to = a >= b
less_than_or_equal_to = a <= b

In [17]:
print("Arithmetic Operators:")
print("Addition: ", addition)
print("Subtraction: ", subtraction)
print("Multiplication: ", multiplication)
print("Division: ", division)
print("Floor Division: ", floor_division)
print("Remainder: ", remainder)
print("Exponentiation: ", exponentiation)

print("\nComparison Operators:")
print("Greater Than: ", greater_than)
print("Less Than: ", less_than)
print("Equal To: ", equal_to)
print("Not Equal To: ", not_equal_to)
print("Greater Than or Equal To: ", greater_than_or_equal_to)
print("Less Than or Equal To: ", less_than_or_equal_to)

Arithmetic Operators:
Addition:  12
Subtraction:  -4
Multiplication:  32
Division:  0.5
Floor Division:  0
Remainder:  4
Exponentiation:  65536

Comparison Operators:
Greater Than:  False
Less Than:  True
Equal To:  False
Not Equal To:  True
Greater Than or Equal To:  False
Less Than or Equal To:  True

# Task 04:


1. Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables

2. Mention Variable of Total Marks and assign 300 to it

3. Calculate Percentage

In [18]:
english_marks = 85
islamiat_marks = 90
maths_marks = 98

total_marks = 300

percentage = ((english_marks + islamiat_marks + maths_marks) / total_marks) * 100

In [19]:
print("English Marks: ", english_marks)
print("Islamiat Marks: ", islamiat_marks)
print("Maths Marks: ", maths_marks)
print("Total Marks: ", total_marks)
print("Percentage: ", percentage)

English Marks:  85
Islamiat Marks:  90
Maths Marks:  98
Total Marks:  300
Percentage:  91.0