1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [1]:
salary = float(input("Enter your salary: "))
years_of_service = int(input("Enter your years of service: "))

bonus_percentage = 5

if years_of_service > 5:
  bonus_amount = (salary * bonus_percentage) / 100
else:
  bonus_amount = 0
print("Net Bonus Amount:", bonus_amount)

Enter your salary: 25000
Enter your years of service: 7
Net Bonus Amount: 1250.0


2) Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible

In [3]:
age = int(input("Enter your age: "))

if age > 17:
  print("Congratulations! You're eligible for voting.")
else:
  print("Sorry! You're not eligible.")

Enter your age: 18
Congratulations! You're eligible for voting.


3) Write a program to check whether a number entered by user is even or odd.

In [5]:
number = int(input("Enter a number: "))

if number % 2 == 0:
  print("The number is even.")
else: print("The number is odd.")

Enter a number: 4
The number is even.

4) Write a program to check whether a number is divisible by 7 or not.
Show Answer

In [6]:
number = int(input("Enter a number: "))

if number % 7 == 0:
  print(f"{number} is divisible by 7.")
else: print(f"{number} is not divisible by 7.")

Enter a number: 8
8 is not divisible by 7.

5) Write a program to display
"Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [9]:
number = int(input("Enter a number: "))

if number % 5 == 0:
  print("Hello")
else:
  print("Bye")

Enter a number: 18
Bye

7) Write a program to display the last digit of a number.

In [11]:
number = int(input("Enter a number: "))

last_digit = number % 10

print(f"The last digit of a number {number} is {last_digit}")

Enter a number: 258
The last digit of a number 258 is 8

9) Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [12]:
length = float(input("Enter the length: "))
breadth = float(input("Enter the breadth: "))

if length == breadth:
  print("It is a square.")
else:
  print("It is a rectangle.")

Enter the length: 1.5
Enter the breadth: 2.4
It is a rectangle.

10) Take two int values from user and print greatest among them.

In [15]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1 > num2:
    print("The first number is the greatest.")
elif num2 > num1:
    print("The second number is the greatest.")
else:
    print("Both numbers are equal.")

Enter the first number: 2
Enter the second number: 1
The first number is the greatest.

11) A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

In [17]:
quantity = int(input("Enter the quantity: "))
unit_cost = 100
total_cost = quantity * unit_cost

if total_cost > 1000:
    discount = 0.1 * total_cost
    total_cost -= discount

print("Total cost:", total_cost)

Enter the quantity: 1500
Total cost: 135000.0

12) A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [18]:
marks = float(input("Enter the marks: "))

if marks < 25:
    grade = "F"
elif marks < 45:
    grade = "E"
elif marks < 50:
    grade = "D"
elif marks < 60:
    grade = "C"
elif marks < 80:
    grade = "B"
else:
    grade = "A"

print("Grade:", grade)

Enter the marks: 81
Grade: A

14)A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

And print

percentage of class attended

Is student is allowed to sit in exam or not.

In [19]:
classes_held = int(input("Enter the number of classes held: "))
classes_attended = int(input("Enter the number of classes attended: "))

attendance_percentage = (classes_attended / classes_held) * 100

print("Percentage of classes attended:", attendance_percentage)

if attendance_percentage >= 75:
    print("The student is allowed to sit in the exam.")
else:
    print("The student is not allowed to sit in the exam.")

Enter the number of classes held: 65
Enter the number of classes attended: 50
Percentage of classes attended: 76.92307692307693
The student is allowed to sit in the exam.

15) Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [20]:
classes_held = int(input("Enter the number of classes held: "))
classes_attended = int(input("Enter the number of classes attended: "))

attendance_percentage = (classes_attended / classes_held) * 100

print("Percentage of classes attended:", attendance_percentage)

medical_cause = input("Does the student have a medical cause? (Y/N): ")

if medical_cause == 'Y' or medical_cause == 'y':
    print("The student is allowed to sit in the exam due to a medical cause.")
elif attendance_percentage >= 75:
    print("The student is allowed to sit in the exam.")
else:
    print("The student is not allowed to sit in the exam.")

Enter the number of classes held: 60
Enter the number of classes attended: 35
Percentage of classes attended: 58.333333333333336
Does the student have a medical cause? (Y/N): Y
The student is allowed to sit in the exam due to a medical cause.

16) Write a program to check if a year is leap year or not.

If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [22]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2024
2024 is a leap year.

17) Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [23]:
age = int(input("Enter age: "))
gender = input("Enter gender (M/F): ")
marital_status = input("Enter marital status (Y/N): ")

if age < 20 or age > 60:
    print("ERROR")
elif gender == 'F' or gender == 'f':
    print("Place of service: Urban areas")
elif gender == 'M' or gender == 'm':
    if age >= 20 and age <= 40:
        print("Place of service: Anywhere")
    elif age > 40 and age <= 60:
        print("Place of service: Urban areas")
else:
    print("ERROR")

Enter age: 25
Enter gender (M/F): m
Enter marital status (Y/N): y
Place of service: Anywhere

6) Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
     Unit                                                     Price  
uptp 100 units                                             no charge
Next 200 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs.3500
(For example if input unit is 97 than total bill amount is Rs.0
(For example if input unit is 150 than total bill amount is Rs.750

In [29]:
units = int(input("Enter the number of units consumed: "))

if units <= 100:
    bill_amount = 0
elif units <= 200:
    bill_amount = units * 5
else:
    bill_amount = units * 10
print("Total bill amount: Rs.", bill_amount)

Enter the number of units consumed: 97
Total bill amount: Rs. 0

13) Take input of age of 3 people by user and determine oldest and youngest among them.

In [30]:
age1 = int(input("Enter the age of Person 1: "))
age2 = int(input("Enter the age of Person 2: "))
age3 = int(input("Enter the age of Person 3: "))

oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)

print("Oldest person's age:", oldest)
print("Youngest person's age:", youngest)

Enter the age of Person 1: 15
Enter the age of Person 2: 25
Enter the age of Person 3: 35
Oldest person's age: 35
Youngest person's age: 15